<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939480173752-jtr4i6ckfb99fbus5181dd7cscppf678.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939480173752-jtr4i6ckfb99fbus5181dd7cscppf678</string>
	<key>API_KEY</key>
	<string>AIzaSyBWwzV-LKVpL-EcBVHv2cQFXdcvQVpQiSE</string>
	<key>GCM_SENDER_ID</key>
	<string>939480173752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fhkjin1.JachtProef-Alert</string>
	<key>PROJECT_ID</key>
	<string>jachtproefalert</string>
	<key>STORAGE_BUCKET</key>
	<string>jachtproefalert.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939480173752:ios:71ff02ba129988479ff84d</string>
</dict>
</plist>